// Docker engine.
//
// Gurobi licence binding: see podman.config for the rationale.

docker {
    enabled    = true
    runOptions = {
        def lic = System.getenv('GUROBI_LIC') ?: "${System.getProperty('user.home')}/gurobi.lic"
        def opt = new File(lic).exists() ? "-v ${lic}:/opt/gurobi/gurobi.lic:ro" : ''
        ("-u \$(id -u):\$(id -g) ${opt}").trim()
    }()
}
